@import "tailwindcss";

:root {
  --ikeafy-blue: #0058a3;
  --ikeafy-yellow: #ffda1a;
}

body {
  background: #f5f6f8;
  color: #111418;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}
